<style>

    @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
           

body {

    margin-top: 100px;
    background-color: rgb(244, 234, 242);
    text-align: center;
    font-family: 'Jua', sans-serif;

}


#container{
  
  border-radius:5%;
  padding: 16px;
  background-color: white;
  box-shadow: 5px 10px grey;
  }
  
  input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    color: black;
    width: 90%;
    border: none;
    background: #f1f1f1;
  }
  #header{
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    text-align:center;
  }
  .content {
    max-width: 700px;
    margin: auto;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color:grey;
  }
    </style>

<body>
<div class="content">  
<div id="container">
<p id="header">Please enter all the forms below</p>
<form action = "{% url 'signup' %}" method = "POST">
    {% csrf_token %}
    아이디 <input type = 'text' name = 'username'>
    <br>
    <br>
    비밀번호 <input type = 'password' name = 'password'>
    <br>
    <br>
    재확인 <input type = 'password' name = 'confirm'>
    <br>
    <br>
    닉네임 <input type = 'text' name = 'nickname'>
    <br>
    <br>
    <input type = "submit" value = "회원가입">
</form>

</div>
</div>
</body>
